// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

::selection {background-color: black; color: white;}

.flex-img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.no-spacing {
	margin: 0;
}

.push-top-1 {
    display: block;
    margin-top: 15px;
}

.push-top-2 {
    display: block;
    margin-top: 22.5px;
}

.push-top-3 {
    display: block;
    margin-top: 30px;
}